<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--是否删除目标库的数据-->
     <add key="timeFormat" value="{yyyyMM}"/>
  </appSettings>
  <connectionStrings>
    <add name="targetDB" connectionString="Data Source=.;Initial Catalog=cms;Integrated security=sspi;max pool size=512;min pool size=5" providerName="System.Data.SqlClient"  />
    <add name="sourceDB" connectionString="Data Source=.;Initial Catalog=test;Integrated security=sspi;max pool size=512;min pool size=5" providerName="System.Data.SqlClient"  />
  </connectionStrings>
</configuration>